<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Author edition -->
<form id="edit-form" action="authors/edit.html" th:method="post" th:action="@{/authors/edit(id=${author.id})}" th:object="${author}">
    <h3>Author Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="author-first-name-input">First name:</label>
        <input id="author-first-name-input" name="firstName" type="text" value="John" th:value="*{firstName}"/>
    </div>

    <div class="row">
        <label for="author-second-name-input">Second name:</label>
        <input id="author-second-name-input" name="secondName" type="text" value="Doe" th:value="*{secondName}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="authors/list.html" th:href="@{/authors}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
